html, body{
	background: url("trees-png.png");
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Old Standard TT', serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald','Titillium Web', sans-serif;
}
p{
	font-family: 'Old Standard TT', serif;
	font-weight: bolder;
	font-size: xx-large;
}
.page-content{
	position: fixed;
	top: 20%;
	left: 20%;
	right: 20%;
	bottom: 20%;
}
.content-box{
	border: 15px solid white;
	color: black;
	padding: 100px;
	text-align: center;
	background-color: white;
	opacity: .5;
}
.content-box > h1{
	font-size: 64px;
	text-transform: capitalize;
	margin-top: -52px;
}

@media screen and (min-height: 500px){
	h1{ color: black; }
}

/** https://css-tricks.com/examples/GradientBorder/
.multbg-top-to-bottom { border-top: 3px solid black; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent)); background-image: -webkit-linear-gradient(#000, transparent); background-image: -moz-linear-gradient(#000, transparent), -moz-linear-gradient(#000, transparent); background-image: -o-linear-gradient(#000, transparent), -o-linear-gradient(#000, transparent); background-image: linear-gradient(#000, transparent), linear-gradient(#000, transparent); -moz-background-size: 3px 100%; background-size: 3px 100%; background-position: 0 0, 100% 0; background-repeat: no-repeat; }
**/